spring:
  application:
    name: SpringAndStuff

info:
  app:
    name: ${spring.application.name}
    version: 0.0.1
    description: FISD Spring project

management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true